*.dbmdl
*.jfm
*.sqlproj
*.ini
*BuildLog.xml
*.csv


[Dd]ebug
[Bb]in


# Below lines not required for now

#.vs

#[Oo]bj
#[Dd]ebugPublic
#[Rr]elease
#[Rr]eleases
#x64
#x86
#bld

# User-specific files
#.suo
#.user
#.userosscache
#.sln.docstates
